analysis/finetuning/finetuned_models/*
analysis/finetuning/final_model/*
analysis/finetuning/wandb/*


*.ipynb
!analysis/notebooks/*.ipynb
!gen_data/get_dataset.ipynb
!analysis/finetuning/*.ipynb
*.env
*.pkl
*.csv
*.txt
!requirements.txt
*.png
*.pdf
*.yaml
*.pth
*.out
*.sh
*__pycache__/
/__pycache_
images/
wandb/
analysis/sweep/wandb
analysis/__pycache__
analysis/sweep/__pycache__
analysis/sweep/logs
analysis/sweep_probe_creation
analysis/sweep_probe_intervention
analysis/sweep_mlp_intervention
analysis/sweep_capability_test
analysis/sweep_mlp_c
analysis/check_asrs
analysis/figure_generation
logs/
datasets/
.env
__pycache__/
